@media screen and (max-width: 1500px) {
     .header_txt{
        font-size: 45px;
        line-height: 50px;
    }
    .header_tit{
        line-height: 50px;
    }
    .strip{
        margin-top: 60px;
    }
    
}
@media screen and (max-width: 900px) {
    .head_img{
        display: none;
    }
}
@media screen and (max-width: 1230px){
    .afisha{
        display: none;
    }
    .members_carts{
        flex-wrap: wrap;
    }
    .top{
        margin-top: 30px;
    }
    .small_photo{
        flex-wrap: wrap;
    }
    .afisha_tit{
        margin-top: 100px;
    }
    .events_tit{
        line-height: 55px;
    }
    .excerpt{
        display: none;
    }
    .cart_img{
        overflow: hidden;
        border-radius: 50px;
    }
    .carts{
        gap: 20px;
    }
    .qwerty{
        display: none;
    }
    .lorem_photo{
        margin-bottom: 40px;
    }
    .carts{
        display: flex;
    }
    .letters{
        max-width: 400px;
      }
}