@media screen and (max-width: 1500px) {
    .header_txt {
        font-size: 45px;
        line-height: 50px;
    }

    .header_tit {
        line-height: 50px;
    }

    .strip {
        margin-top: 60px;
    }

}

@media screen and (max-width: 900px) {
    .head_img {
        display: none;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .mask {
        display: none;

    }

    .letters {
        margin-bottom: 500px;
    }
}

@media screen and (max-width: 1230px) {
    .afisha {
        display: none;

    }

    .members_carts {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .members_top{
        text-align: center;
    }

    .top {
        margin-top: 30px;
    }

    .small_photo {
        flex-wrap: wrap;
    }

    .afisha_tit {
        margin-top: 200px;
        margin-bottom: -200px;
    }

    .events_tit {
        line-height: 55px;
    }

    .move {
        margin-top: 200px;
    }

    .videos_tv {
        margin-bottom: 250px;
    }

    .excerpt {
        display: none;
    }

    .cart_img {
        overflow: hidden;
        border-radius: 50px;
    }

    .carts {
        gap: 20px;
    }

    .qwerty {
        display: none;
    }

    .lorem_photo {
        margin-bottom: 40px;
    }
    .lorem_imsup{
        margin: 0 auto;
    }
    .photo_right{
        margin: 0 auto;
    }

    .carts {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .tv_tit{
        margin-bottom: 0;
    }
    .prices_carts{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_all{
        flex-wrap: wrap;
    }
    
    .vin_black{
        display: none;
    }
    .vintage_img{
        display: none;
    }
    .lorem_imsup{
        display: none;
    }
    .tv_video{
        margin-top: -650px;
    }
}