html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
ul li:last-child {
  margin-bottom: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button,
label {
  cursor: pointer;
}
input::placeholder {
  color: inherit;
}
button {
  cursor: pointer;
}
input,
textarea {
  display: block;
  resize: none;
}
body {
  font-size: 14px;
  line-height: 19px;
  color: #242424;
  width: 100%;
  font-family: "Manrope", arial, sans-serif;
}
.container {
  max-width: 1480px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
.dn {
  display: none;
}
section {
  padding: 100px 0;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header_tit {
  max-width: 796px;
  height: 36px;
  top: 105px;
  color: #fff;
  left: 119px;
  font-size: 36px;
  font-family: "History Pro";
  font-weight: 400;
}
.music {
  background: #d03d29;
}
.strip {
  max-width: 796px;
  height: 1px;
  margin-bottom: 120px;
  background: #fff;
}
.header_txt {
  max-width: 928px;
  font-family: "History Pro";
  color: #fff;
  margin-bottom: 50px;
  font-size: 60px;
}
.header_text {
  max-width: 621px;
  height: 96px;
  font-size: 20px;
  color: #fff;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24.38px;
  margin-bottom: 60px;
}

.img {
  max-width: 172.47px;
  height: 277.92px;
  margin-top: 560px;
}
.img_head {
  max-width: 172.47px;
  height: 277.92px;
  margin-top: 270px;
}
.header_img {
  max-width: 405px;
  cursor: pointer;
}
.p {
  font-family: "History Pro", sans-serif;
  font-size: 32px;
  font-weight: 400;
  max-width: 317px;
  height: 32px;
  color: #d03d29;
  margin-top: -80px;
  margin-left: 10%;
}
.head_img {
  max-width: 490px;
}
@font-face {
  font-family: "HistoryPro-Two";
  src: url("../fonts/historypro-two.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/historypro-two.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/historypro-two.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/historypro-two.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/historypro-two.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/historypro-two.svg#historypro-two")
      format("svg"); /* Chrome < 4, Legacy iOS */
}
.afisha {
  margin-top: -10%;
}
.afisha_tit {
  color: #fff;
  font-family: "History Pro", sans-serif;
  margin: -10% 40% 0;
  font-size: 64px;
}
.black {
  background: url(./img/Rectangle\ 27.jpg);
}
.group {
  max-width: 862px;
}
.vintage {
  width: 500px;
}
.images {
  display: flex;
}
.excerpt {
  margin-top: -20%;
}
.events {
  background: #ae0000;
}
.events_tit {
  font-family: History Pro;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #fff;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}
.day {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 10px;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
}
.day:hover{
  background: #fff;
  color: #ae0000;
  transform: scale(1.1);
}
.date {
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
}
.events_day {
  margin-bottom: 60px;
}
.even_icon {
  width: 32px;
  cursor: pointer;
  height: 32px;
  margin-top: 25px;
}
.even_icon:hover{
  transform: scale(1.1);
}
.cart_img {
  max-width: 390px;
  overflow: hidden;
  border-radius: 50px;
  height: 560px;
}

.tv {
  height: 1000px;
}
.tv_excpect {
  max-width: 691px;
  margin-left: 55%;
  overflow: hidden;
  border-radius: 50% 0 0 0;
}
.tv_tit {
  font-family: History Pro;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 90px;
}
.tv_txt {
  max-width: 1450px;
  margin-top: -47px;
}
.simply {
  max-width: 791px;
  margin-top: -100px;
}
.lorem {
  background: #000;
  margin-top: -70px;
  height: 1150px;
}
.lorem_tit {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}
.lorem_txt {
  color: #fff;
  font-size: 24px;
  max-width: 642px;
  margin-bottom: 80px;
  line-height: 29px;
}
.simply_text {
  margin-top: 20%;
}
.lorem_button {
  max-width: 130px;
  cursor: pointer;
  height: 45px;
  transition: 0.3s;
  border-radius: 24px;
  border: solid 2px #fff;
}
.lorem_button:hover{
  transform: scale(1.1);
}
.v {
  max-width: 292px;
  margin-top: -900px;
  margin-left: 300px;
}
.n {
  max-width: 224px;
  margin-top: -200px;
  margin-left: 200px;
}
.a {
  max-width: 254px;
  margin-left: 180px;
}
.e {
  max-width: 165px;
  margin-top: -20px;
  margin-left: 270px;
}
.g {
  max-width: 216px;
  margin-top: -210px;
  margin-left: 460px;
}
.t {
  max-width: 234px;
  margin-top: -570px;
  margin-left: 450px;
}
.mask {
  max-width: 365px;
  margin-top: -550px;
  margin-left: 37%;
}
.big_photo {
  max-width: 1000px;
  margin-bottom: 40px;
}
.s_photo {
  max-width: 230px;
}
.small_photo {
  display: flex;
  margin-bottom: 40px;
  gap: 25px;
}
.photo_tit {
  font-family: Montserrat;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}
.photo_txt {
  font-family: Montserrat;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 50px;
}
.wedding {
  width: 318px;
  cursor: pointer;
  transition: 0.3s;
  height: 80px;
  border : solid 2px #D03D29;
  border-radius: 30px;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
.wedding:hover{
  background: #D03D29;
  color: #fff;
  transform: scale(1.1)
}
.members_top{
  font-family: Montserrat;
font-size: 48px;
font-weight: 600;
line-height: 58.51px;
max-width: 1447px;
margin-bottom: 50px;
}
.mem_cart{
  max-width: 409px;
  cursor: pointer;
  height: 565px;
  transition: 0.3s;
}
.mem_cart:hover{
  box-shadow: 0px 2px 12px 0px rgba(43, 43, 43, 0.06)
}
.members_carts{
  display: flex;
  gap: 10px;
}
.mem_tit{
  font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
color: #fff;
margin-left: 30px;
margin-top: -200px;
max-width: 293px;
margin-bottom: 30px;
}
.mem_txt{
  max-width: 204px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;
  margin-bottom: 20px;
}
.mem_text{
  margin-left: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.bottom{
  margin-top: 45px;
}
.top{
  margin-top: -45px;
}
.lorem_icon{
  width: 68px;
  margin-left: 25px;
}

.lorem_photo{
  border: solid 1px #000;
  margin-left: 43%;
}
.photo_icon{
  max-width: 68px;
  margin-left: 25px;
}
.video_tv{
  max-width: 378px;
}
.videos_tv{
  display: flex;
  gap: 15px;
}
.vid{
  max-width: 278px;
}
.tv_video{
  max-width: 878px;
  margin-top: -560px;
  margin-left: 50px;
}
.lorem_imsup{
  max-width: 452px;
  margin-top: -600px;
}
.imsup_tit{
  font-family: History Pro;
font-size: 50px;
font-weight: 400;
line-height: 60px;
color: #fff;
margin-top: -560px;
margin-left: 35px;
margin-bottom: 30px;
}
.imsup_txt{
  font-family: Montserrat;
font-size: 24px;
font-weight: 400;
line-height: 29.26px;
color: #fff;
max-width: 467px;
padding: 20px;
}